// media breakpoints
$tablet-portrait-breakpoint: 576px;
$tablet-landscape-breakpoint: 768px;
$desktop-breakpoint: 992px;
$desktop-large-breakpoint: 1200px;

// fonts
$primary-font: "Literata";
$secondary-font: "Harry Potter";

// colours
$gryffindor-red: #7E0001;
$gryffindor-yellow: #C78E1B;

$sand: #E2B16E;
$beige: #FDEBCF;

$text-primary: #4B0102;

$button: #AB3A11;