@font-face {
  font-family: "Harry Potter";
  src: url(../../font/HarryPotter-ov4z.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Literata";
  src: url(../../font/Literata-VariableFont_opsz\,wght.ttf) format(truetype);
}
@font-face {
  font-family: "Literata";
  src: url(../../font/Literata-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
}
h1 {
  font-family: "Harry Potter";
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #4B0102;
}
@media (min-width: 576px) {
  h1 {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
}

h2 {
  font-family: "Harry Potter";
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #4B0102;
}

h3 {
  font-family: "Literata";
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #4B0102;
}

p {
  font-family: "Literata";
  font-size: 0.75rem;
  color: #4B0102;
  padding-bottom: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: #E2B16E;
}

main {
  padding-bottom: 3rem;
}

body {
  font-family: "Literata";
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
}

.cakes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FDEBCF;
  padding: 2rem 1rem;
  gap: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
@media (min-width: 992px) {
  .cakes {
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: space-evenly;
  }
}
.cakes .cakes-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  text-align: center;
}
@media (min-width: 992px) {
  .cakes .cakes-card {
    width: 30%;
  }
}
.cakes .cakes-card .cakes-card__img {
  width: 50vw;
  height: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
@media (min-width: 992px) {
  .cakes .cakes-card .cakes-card__img {
    width: 25vw;
    height: 25vw;
  }
}
.cakes .cakes-card .button {
  background-color: #AB3A11;
  color: #FDEBCF;
  font-weight: 600;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 0.25rem;
}
.cakes .cakes-card--loading {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.25rem;
  height: 10rem;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.cakes .cakes-card--loading div {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 0.5s shine linear infinite;
}
.cakes .cakes-card--loading div:first-of-type {
  width: 100%;
  height: 50%;
}
.cakes .cakes-card--loading div:nth-of-type(2) {
  width: 90%;
  height: 30%;
}
.cakes .cakes-card--loading div:nth-of-type(3) {
  width: 90%;
  height: 10%;
}

.error-cake {
  margin: auto;
  width: 10rem;
  height: 10rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 2px;
  background-color: #E2B16E;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #FDEBCF;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.modal-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(105, 105, 105, 0.6274509804);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.modal-overlay .modal {
  position: relative;
  z-index: 2;
  width: 60vw;
  height: 80vh;
  background-color: #E2B16E;
  opacity: 95%;
  overflow: auto;
  border-radius: 1rem;
  padding: 1.5rem;
  position: fixed;
}
.modal-overlay .modal img {
  cursor: pointer;
  position: absolute;
  top: 0.9rem;
  right: 0.9rem;
  width: 1rem;
  height: 1rem;
  z-index: 3;
}
.modal-overlay .modal p {
  position: relative;
  z-index: 2;
}

.hidden {
  display: none;
}

.cake__description {
  margin: 1rem auto;
  font-weight: 600;
}
.cake__title {
  font-size: 1.1rem;
  font-weight: 600;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7E0001;
  height: 5rem;
  color: #FDEBCF;
}

.logo__container {
  padding-left: 2rem;
}

.nav {
  width: 50%;
  padding-right: 2rem;
}
@media (min-width: 768px) {
  .nav {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .nav {
    width: 30%;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

main {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #E2B16E;
}

.great-hall {
  background-color: #FDEBCF;
  border-radius: 0.5rem 0.5rem 0 0;
}
@media (min-width: 992px) {
  .great-hall {
    display: flex;
    align-items: center;
  }
}

.hero__title {
  background-color: #FDEBCF;
  text-align: center;
}

@media (min-width: 992px) {
  .hero {
    width: 50%;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 992px) {
  .hero__container {
    padding-left: 3rem;
    padding-right: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDEBCF;
  border-radius: 0 0.5rem 0 0;
}
@media (min-width: 992px) {
  .form {
    width: 50%;
  }
}
.form__title {
  text-align: center;
}
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 70vw;
  background-color: rgba(126, 0, 1, 0.3);
  border-radius: 0.5rem;
  gap: 1rem;
}
@media (min-width: 992px) {
  .form__container {
    width: 75%;
  }
}
.form__field {
  margin-top: -0.5rem;
  background-color: #FDEBCF;
}
.form__button {
  background-color: #AB3A11;
  padding: 0.75rem 1.25rem;
  color: #FDEBCF;
  font-size: 0.75rem;
  font-weight: 600;
  border: none;
  border-radius: 0.25rem;
}/*# sourceMappingURL=homepage.css.map */